@import "../variable";

.gallery {
  display: flex;
  justify-content: center;
}

.cardsGallery {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

@media (max-width: 720px) {
  .cardsGallery {
    display: flex;
    flex-direction: column;
  }
}
