.description {
  margin: 100px 0;
}

.profilePicture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.descriptionTexte {
  color: #c3c4c7;
  font-size: 20px;
  font-weight: 400;
  margin: 0 10%;
}
