@import "index";
@import "variable";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px 50px;
  border-bottom: solid 2px #242424;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.navMenu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;

  li {
    margin: 0 15px;
    color: #c3c4c7;
  }
  a {
    text-decoration: none;
    color: #c3c4c7;
  }
  a:hover {
    color: #f6f7f7;
  }
}

.pdfViewer {
  margin-top: 100px;
}

.pageContainer {
  min-height: 100vh;
  position: relative;
}

.bodyContainer {
  padding-bottom: 200px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 50px 50px;
  border-top: solid 2px #242424;
  a {
    text-decoration: none;
    color: #c3c4c7;
  }
  a:hover {
    color: #f6f7f7;
  }
}

.socialMediaLink {
  display: flex;
  flex-direction: row;
  gap: 0px 10px;
}

@media (max-width: 720px) {
  .footer {
    flex-direction: column;
    width: 78%;
  }
}
